* {
    margin: 0px;
    padding: 0px;
  }
  h2 {
    text-align: center;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 20%;
    margin: 50px auto 0px;
    color: white;
    /* background: #5F9EA0; */
    text-align: center;
    /* border: 1px solid #B0C4DE; */
    border-bottom: none;
    /* border-radius: 10px 10px 0px 0px; */
    padding: 20px;
  }
  #head{
    margin:2rem 1rem 1rem 1rem;
  }
  #Reset{
    margin-top: 2rem;
  }
  #update{
    margin-top: 2rem;
  }
  form, .content {
    width: 70%;
    margin: 0px auto;
    /* padding: 20px;
    border: 1px solid #B0C4DE;
    background: white; */
    
    
   
  }
  #log{
    float: right;
    /* background-color: red; */
   
  }
  #view{
    text-align: left;
    padding-left: 200px;
    color: red;
    
  }
  #update{
    margin-top: 1rem;
    width: 70%;
    
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
    
  }
  .button {
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: right;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    float: right;
}
  #d{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    /* width: 10000000px; */
    
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
 
  .input-group label {
    display: block;
    text-align: left;
    margin: 7px ;
  }
  .input-group input {
    height: 30px;
    width: 380px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }